.about {
    grid-column: center-start / center-end;
    padding: 5rem 0;
    display: grid;
    grid-template-rows: min-content auto minmax(min-content, 9rem) auto;
    &__greeting {
        color: #FE2C54;
    }

    &__info {
        font-size: 1.6rem;
        line-height: 22px;
    }

    // @media only screen and (max-width: 800px) {
    //     grid-template-rows: min-content auto minmax(min-content, 11rem) auto;
    // }
}

.personal-info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,min-content);
    row-gap: 1.5rem;
    column-gap: 2rem;

    &__item {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 1rem;
        align-items: center;
    }
    &__label {
        font-size: 1.6rem;
        font-weight: bolder;
        // justify-self: end;
    }

    &__text {
        font-size: 1.6rem;
        // border: 1px solid #FE2C54;
    }
}
