*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul {
    list-style: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  // 1rem = 10px
    font-family: sans-serif;
    scroll-behavior: smooth;
    @media only  screen and (max-width: 800px) {
        font-size: 8px;
    }
}

body {
    background-color: #f2f2fc;
}

.container {
    display: grid;
    grid-template-columns: [sidenav-start ] 27rem [sidenav-end full-start] minmax(5rem, 1fr) [center-start] repeat(8,[col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end];
    // grid-template-rows: 100vh;
    // row-gap: 4rem;

    @media only screen and (max-width: 1020px) {
        grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8,[col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end];
    }
}