



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul {
    list-style: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  // 1rem = 10px
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {}

.container {
    display: grid;
    grid-template-columns: [sidenav-start ] 27rem [sidenav-end full-start] minmax(5rem, 1fr) [center-start] repeat(8,[col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end];
    grid-template-rows: calc(100vh - 4rem) repeat(6,auto);
    row-gap: 4rem;
}