.footer {
    grid-column: center-start / center-end;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    
    & > * {
        margin-bottom: 4rem;

        @media only screen and (max-width: 800px) {
            margin-bottom: 2.5rem;
        }
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }

    &__icon {
        height: 4rem;
        fill: #e40017;
    }

    &__id {
        // border: 1px solid red;
        font-size: 1.5rem;
    }

    &__text {
        font-size: 5rem;
        text-align: center;
        letter-spacing: 2px;
    }

    &__btn {
        width: 17rem;
        align-self: center;
        font-size: 1.8rem;

        a {
            text-decoration: none;
            color: white;
        }
    }
}