.header {
    grid-column: full-start / -1;
    padding: 12rem;
    // background-color: lightgrey;
    display: grid;
    // grid-template-columns: min-content;
    grid-template-rows: repeat(3,min-content);
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
    background-color: #f2f2fc;
    // overflow-y: hidden;

    &__img {
        height: 25rem;
        display: inline-block;
        border: 12px solid white;
        border-radius: 50%;
    }
    &__text {
        font-size: 1.8rem;
    }
}

.social-media {
    display: grid;
    grid-template-columns: repeat(3,auto);
    column-gap: 2rem;
    // justify-items: center;
    &__link {
        display: inline-block;
        background-color: #FE2C54;
        border-radius: 50%;

    }
    &__icon {
        height: 5rem;
        width: 5rem;
        fill: white;
        display: inline-block;
        padding: 1rem;
    }
}