.sidebar {
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 12rem 30rem auto;
    padding: 5rem 3rem;
    position: fixed;
    left: 0;
    top: 0s;
    height: 100vh;
    width: 27rem;
    background-color: #fdf9ff;
}

.name {
    text-align: center;
    position: relative;
    text-decoration: none;
    color: black;
    padding: 5px;

    &::after, &::before {
        content: '';
        display: block;
        position: absolute;
        border: 4px solid white;
        transition: all .5s;
        width: 20px;
        height: 20px;

    }
    &::after {
        top: 0px;
        right: 0px;
        border-color:#FE2C54 #FE2C54 transparent transparent;
    }

    &::before {
        bottom: 0px;
        left: -5px;
        border-color: transparent transparent #FE2C54 #FE2C54;
    }

    &:hover::after,
    &:hover::before{
        width: 110%;
        height: 110%;
    }
}

.nav {  
    // &__item {
    //     background-color: #FD4659;
    //     padding: 5px;

    //     &:not(:last-child) {
    //         margin-bottom: 10px;
    //     }
    // }
    &__link {
        text-decoration: none;
        font-size: 1.6rem;
        color: black;
        display: block;
        // border-bottom: 1px solid lightgray;
        padding: 10px 0;
        letter-spacing: 1px;
        line-height: 1.5;
    }
}

.copyright {
    font-size: 1.5rem;
}

.active {
    color: #FE2C54;
}