.heading-primary {
    font-size: 3.5rem;
}

.heading-secondary {
    font-size: 2.8rem;
}

.heading-tertiary {
    font-size: 2.2rem;
}

.heading-primary--design {
    position: relative;
    font-size: 3.5rem;

    &::before,&::after {
        content: ' ';
        position: absolute;
        height: 3px;
        background-color: #FE2C54;

    }
    &::before {
        bottom: -12px;
        left: 0;
        width: 30px;
    }
    &::after {
        bottom: -5px;
        left: 0;
        width: 50px;
    }
}


.btn {
    justify-self: start;
    border: none;
    outline: none;
    padding: 2rem 3rem;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    background-color: #FE2C54;
    position: relative;
    cursor: pointer;
    z-index: 10;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 30px;
        background:#FE2C54;
        box-shadow: 0 0 0 #FE2C54;
        z-index: -1;
    }

    &:hover::after {
        animation: pulseAnim 2s infinite;
    }
}

.mb-sm {margin-bottom: 2rem;}
.mb-md {margin-bottom: 3rem;}
.mb-lg {margin-bottom: 5rem;}